%h1 Games

%table.table
  - @games.each do |game|
    %tr
      %td= link_to game.title, game_game_levels_path(game)
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
